.navBar {
  display: flex;
  background-color: #865dff;
  justify-content: space-between;
}

.navStrip {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.element {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 3vh;
  padding-bottom: 2.6vh;
  font-size: 120%;
}

.element:hover {
  background-color: rgba(240, 248, 255, 0.089);
  color: white;
}

.active_element {
  background-color: #734aee !important;
  color: white !important;
}

.auth {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 3vh;
  padding-bottom: 2.6vh;
  font-size: 120%;
  border-right: 1px solid rgba(109, 109, 109, 0.664);
  background-color: #84bdff;
}

.auth:hover {
  background-color: rgba(232, 255, 22, 0.897) !important;
  color: rgb(13, 42, 80) !important;
}
