.search_img {
  width: 70px;
  height: 70px;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20rem;
}

.title {
  font-size: 350%;
  padding-right: 1vw;
  padding-left: 2vw;
  font-family: var(--font-cabin);
}

.search_container {
  margin: 2vh 1vw 0px 0px;
  display: flex;
  justify-content: center;
}

.search_bar {
  display: flex;
  background-color: #5c8984;
  width: 30rem;
  height: 4vh;
  border-radius: 10px;
  margin-bottom: 0.7rem;
}

.search_input {
  background-color: transparent;
  border: none;
  width: 70%;
  outline: none;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}
