.main__container {
  display: flex;
  justify-content: center;
}

.sub__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 228, 196, 0.185);
  padding: 2vh 4vw 3vh 4vw;
  border: 1px solid wheat;
  box-shadow: 0px 0px 10px 1px wheat;
  margin-bottom: 5vh;
  margin-top: 15vh;
}

.data {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1vh;
}

.labels {
  font-size: 130%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aquamarine;
}

.title {
  padding-bottom: 2vh;
  border-bottom: 1px solid snow;
  margin-bottom: 3vh;
}

.logout {
  width: 20vw;
  height: 3vh;
  color: brown;
  background-color: rgb(250, 153, 136);
  margin-top: 1vh;
}

.logout:hover {
  background-color: rgba(248, 149, 57, 0.856);
  color: wheat;
}

.change {
  width: 20vw;
  height: 3vh;
  color: brown;
  background-color: rgba(243, 253, 152, 0.856);
  margin-top: 1vh;
}

.change:hover {
  background-color: rgb(188, 128, 245);
}

.home {
  width: 20vw;
  height: 3vh;
  color: brown;
  background-color: rgba(155, 253, 152, 0.856);
  margin-top: 2vh;
}

.home:hover {
  background-color: rgb(136, 227, 250);
}

.load_container {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  margin-left: 1vw;
  height: 4vh;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 80%;
}

.passwords {
  margin-top: 2vh;
  color: rgb(248, 180, 90);
}

.change_container {
  display: flex;
  justify-content: space-around;
}

.confirm {
  width: 9vw;
  height: 3vh;
  color: brown;
  background-color: rgba(155, 253, 152, 0.856);
  margin-top: 2vh;
}

.confirm:hover {
  background-color: rgb(136, 227, 250);
}

.cancel {
  width: 9vw;
  height: 3vh;
  color: brown;
  background-color: rgba(163, 180, 255, 0.856);
  margin-top: 2vh;
}

.cancel:hover {
  background-color: rgb(240, 221, 135);
}

.invalid_input {
  background-color: rgb(255, 86, 43);
}